extract_candidate:
  description: >
    Đọc file PDF chứa thông tin cá nhân, học vấn, kỹ năng, dự án, và các dữ liệu khác, sau đó trả về kết quả dưới dạng JSON.
    Bạn sẽ trích xuất các thông tin từ file pdf và xếp các thông tin vào đúng trường thông tin lưu trữ trong file json.
    
    NỘI DUNG FILE PDF
    -----------------
    {pdf_content}

    THÔNG TIN CÁC TRƯỜNG DỮ LIỆU TRONG FILE JSON
    -----------------
    1. personal_info: Các thông tin cơ bản về ứng viên.
    1.1. name: Tên của ứng viên. (Ví dụ: Nguyễn Văn A)
    1.2. job_title: Chức danh công việc của ứng viên. (Ví dụ: Kế toán)
    1.3. phone: Số điện thoại liên lạc của ứng viên. (Ví dụ: 0987654321)
    1.4. email: Địa chỉ email của ứng viên. (Ví dụ: nguyenvana123@gmail.com)
    1.5. dob: Ngày sinh của ứng viên. (yyyy or yyyy-mm or yyyy-mm-dd) 
    1.6. address: Địa chỉ của ứng viên.
    
    2. education: Các thông tin cơ bản về học vấn của ứng viên
    2.1. university: Tên trường đại học mà ứng viên đã theo học. (Ví dụ: Trường Đại học Bách Khoa)
    2.2. major: Chuyên ngành học của ứng viên. (Ví dụ: Ngành kế toán)
    2.3. start_date: Ngày bắt đầu học. (Ví dụ: 01/10/2024)
    2.5. end_date: Ngày kết thúc học. (Ví dụ: 31/10/2024)
    2.6. description: Các phần thông tin mô tả về về quá trình học của ứng viên (Ví dụ: GPA, Grade)

    3. work_experience: Các thông tin cơ bản về kinh nghiệm làm việc của ứng viên
    3.1. company: Tên công ty nơi ứng viên đã làm việc. (Ví dụ: Công ty ABC)
    3.2. position: Vị trí công việc của ứng viên. (Ví dụ: Kế toán)
    3.3. start_date: Ngày bắt đầu làm việc. (Ví dụ: 01/10/2024)
    3.4. end_date: Ngày kết thúc làm việc. (Ví dụ: 31/10/2024)
    3.5. description: Thông tin về các nhiệm vụ, công việc, dự án, trách nhiệm, ... của ứng viên trong thời gian làm việc tại công ty.
    
    4. skill: Các thông tin về kỹ năng của ứng viên
    4.1. name: Tên kỹ năng của ứng viên. (Ví dụ: Kỹ năng giao tiếp, Excel, ...)
    4.2. levels: Đánh giá mức độ thành thạo. (Ví dụ: 1, 2, 3, 4, 5, ...)
    4.5. description: Mô tả chi tiết về kỹ năng.

    HƯỚNG DẪN THÊM VÀ LƯU Ý:
    -----------------
    - Không được phép thay đổi tên của các trường thông tin trong cấu trúc định dạng JSON trên.
    - Không được dịch các thông tin.
    - Trong phần thông tin về học vấn, chỉ bao gồm phần học vấn từ bậc Cao đẳng trở đi theo Khung trình độ quốc gia Việt Nam.
    - Loại bỏ các phần thông tin học vấn từ bậc Mẫu giáo đến Trung học phổ thông.
    - Trong phần tên ngành, chỉ có tên ngành học của ứng viên, không bao gồm thông tin về loại bằng cấp của ứng viên. (Ví dụ: "Cử nhân ngành Quản trị kinh doanh" thành "Quản trị kinh doanh")
    - Các thông tin về khóa học thường đi kèm các từ như "course", "khóa học", hoặc tên tổ chức không phải là trường đại học, chuyển thông tin khóa học sang phần "courses".
    - Chỉ loại bỏ phần địa chỉ nếu nó đi kèm tên trường đại học (ví dụ: "CAO ĐẲNG FPT POLYTECHNIC Trịnh Văn Bô - Nam Từ Liêm - Hà Nội" => "CAO ĐẲNG FPT POLYTECHNIC"). Nếu tên trường không chứa địa chỉ (ví dụ: "Trường Đại học Quốc Gia Hà Nội"), giữ nguyên tên trường.
    - Dữ liệu ngày tháng phải tuân thủ định dạng yyyy-mm-dd.
    - Đối với thông tin về start_date, nếu không có thông tin ngày cụ thể thì sẽ là ngày đâu tiên của tháng, nếu không có thông tin về ngày và tháng cụ thể thì sẽ là ngày đầu tiên của năm.
    - Đối với thông tin về end_date, nếu không có thông tin ngày cụ thể thì sẽ là ngày cuối cùng của tháng, nếu không có thông tin về ngày và tháng cụ thể thì sẽ là ngày cuối cùng của năm. Đối với các trường hợp end_date ghi là "đến nay" hay các từ ngữ cùng nghĩa thì trả về giá trị của ngày hôm nay.
    Ngày hôm nay: {today_value}
    - Mô tả dự án và công việc phải chi tiết, tập trung vào nội dung thực hiện.
    - Trong phần kinh nghiệm làm việc, bao gồm kinh nghiệm khi làm việc tại các trung tâm, các công việc giải dạy tại các trường học, các công việc tại các công ty, không bao gồm kinh nghiệm dự án.
    - Trong phần kinh nghiệm làm việc, chỉ trích xuất các công việc liên quan, không phân tách không cần thiết (VD: gộp các phân đoạn thuộc cùng công ty vào một mục nếu liên quan đến cùng vị trí hoặc dự án).
    - Trong phần kinh nghiệm làm việc, phần position chỉ chứa vị trí làm việc của ứng viên tại công ty đó, không chứa tên lĩnh vực, chuyên ngành.
    - Bao gồm đầy đủ kỹ năng và mô tả chi tiết của chúng.
    - Tách các từ bị dính liền vào nhau (Ví dụ: "Sửdụng" tách thành "Sử dụng").
    - Chỉ bao gồm các kỹ năng mền, kỹ năng chuyên ngành, các kỹ thuật và công nghệ mà ứng viên biết sử dụng trong CV, không bao gồm các công nghệ sử dụng trong dự án, sản phẩm hay kinh nghiệm làm việc.
    - Trong trường hợp có các kỹ năng trùng lặp (ví dụ: "Python" và "Python (OCR)"), chỉ giữ lại phiên bản chung nhất ("Python"). Nếu thông tin bổ sung (như "(OCR)") cần thiết, hãy đưa vào "descriptions" của kỹ năng chính.
    - Trong phần tên ngành, chỉ có tên ngành học của ứng viên, không bao gồm thông tin về loại bằng cấp của ứng viên. (Ví dụ: "Cử nhân ngành Quản trị kinh doanh" thành "Quản trị kinh doanh")
    - Trong phần dự án, chỉ bao gồm các dự án của cá nhân ứng viên và các dự án mà ứng viên tham gia.
    - Nếu thông tin không có trong dữ liệu gốc, hãy trả về "".

  expected_output: >
    Nội dung đầu ra luôn phải là một đối tượng CandidateProfile. 
    Ngôn ngữ đầu ra phải là tiếng Việt.
  agent: hr_extractor_agent
